* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
  }
  .container {
    max-width: 900px;
  }
  .header-section {
    margin-bottom: 40px;
  }
  .nav-link {
    color: #333;
  }
  .section-title {
    margin-top: 40px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  .description {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
  }

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 15px;
}

.gallery-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.big-img {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  background-image: url('assets/CROPPED_Colorized_emir.tif.jpg');
  background-size: cover;
  background-position: center;
}
.caption {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
}
